mat-form-field{
    width: 80%;
}

.div_ResetPassword{
    text-align: center;
    width: 40%;
    margin: auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 22px 0px;
}

.div_bt_submit{
    margin: 20px;
}